<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scnu.teach.mapper.ProductlineinfoMapper" >
  <resultMap id="BaseResultMap" type="com.scnu.teach.pojo.Productlineinfo" >
    <id column="product_Line_Id" property="id" jdbcType="INTEGER" />
    <result column="product_Line_Name" property="name" jdbcType="CHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    product_Line_Id, product_Line_Name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.scnu.teach.pojo.ProductlineinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from productlineinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from productlineinfo
    where product_Line_Id = #{productLineId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from productlineinfo
    where product_Line_Id = #{productLineId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.scnu.teach.pojo.ProductlineinfoExample" >
    delete from productlineinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.scnu.teach.pojo.Productlineinfo" >
    insert into productlineinfo (product_Line_Id, product_Line_Name)
    values (#{productLineId,jdbcType=INTEGER}, #{productLineName,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.scnu.teach.pojo.Productlineinfo" >
    insert into productlineinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productLineId != null" >
        product_Line_Id,
      </if>
      <if test="productLineName != null" >
        product_Line_Name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productLineId != null" >
        #{productLineId,jdbcType=INTEGER},
      </if>
      <if test="productLineName != null" >
        #{productLineName,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.scnu.teach.pojo.ProductlineinfoExample" resultType="java.lang.Integer" >
    select count(*) from productlineinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update productlineinfo
    <set >
      <if test="record.productLineId != null" >
        product_Line_Id = #{record.productLineId,jdbcType=INTEGER},
      </if>
      <if test="record.productLineName != null" >
        product_Line_Name = #{record.productLineName,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update productlineinfo
    set product_Line_Id = #{record.productLineId,jdbcType=INTEGER},
      product_Line_Name = #{record.productLineName,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.scnu.teach.pojo.Productlineinfo" >
    update productlineinfo
    <set >
      <if test="productLineName != null" >
        product_Line_Name = #{productLineName,jdbcType=CHAR},
      </if>
    </set>
    where product_Line_Id = #{productLineId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scnu.teach.pojo.Productlineinfo" >
    update productlineinfo
    set product_Line_Name = #{productLineName,jdbcType=CHAR}
    where product_Line_Id = #{productLineId,jdbcType=INTEGER}
  </update>
</mapper>