<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scnu.question.mapper.ResourceCategoryInfoMapper" >
  <resultMap id="BaseResultMap" type="com.scnu.question.pojo.ResourceCategoryInfo" >
    <id column="resoure_Catagory_Id" property="resourceCategoryId" jdbcType="INTEGER" />
    <result column="resoure_Catagory_Name" property="resourceCategoryName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    resoure_Catagory_Id, resoure_Catagory_Name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.scnu.question.pojo.ResoureCatagoryInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from resoure_catagory_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from resoure_catagory_info where section_Id = #{sectionId, jdbcType=INTEGER} || section_Id = 0
    order by  resoure_Catagory_Id desc;
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from resoure_catagory_info
    where resoure_Catagory_Id = #{resoureCatagoryId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.scnu.question.pojo.ResoureCatagoryInfoExample" >
    delete from resoure_catagory_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.scnu.question.pojo.ResoureCatagoryInfoExample" resultType="java.lang.Integer" >
    select count(*) from resoure_catagory_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update resoure_catagory_info
    <set >
      <if test="record.resoureCatagoryId != null" >
        resoure_Catagory_Id = #{record.resoureCatagoryId,jdbcType=INTEGER},
      </if>
      <if test="record.resoureCatagoryName != null" >
        resoure_Catagory_Name = #{record.resoureCatagoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.sectionId != null" >
        section_Id = #{record.sectionId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update resoure_catagory_info
    set resoure_Catagory_Id = #{record.resoureCatagoryId,jdbcType=INTEGER},
      resoure_Catagory_Name = #{record.resoureCatagoryName,jdbcType=VARCHAR},
      section_Id = #{record.sectionId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>